@using MyCollection.Domain.Enums
@model ModelForView


<div class="card text-center bg-dark myForm w-100 mt-3">
    <div class="card-header fw-bolder fs-4 d-flex justify-content-center justify-content-lg-between justify-content-md-between">
        <p class="fs-5 m-0 d-none d-md-block d-lg-block">Collection items</p>
        <div class="d-flex gap-3 justify-content-start">
            <input type="search" class="form-control bg-dark text-white userInput" placeholder="Search" />
            <button type="submit" class="btn btn-outline-success">Search</button>
            <select class="bg-dark userInput form-select text-white">
                <option>Men</option>
                <option>Men</option>
                <option>Men</option>
                <option>Men</option>
            </select>

            <button type="button" id="create" class="btn btn-success">
                Create
            </button>

            <div class="modal fade" id="warning" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark myForm">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Info</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body fs-6">
                            To create content, please log in or sign up.
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center p-5">
            <p class="fw-bold p-0 m-0">No items yet. </p>
        </div>
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>#</th>
                    <th>Item name</th>
                    <th>Type</th>
                    <th>Collection name</th>
                    <th>Owner</th>
                    <th>Created date</th>
                    <th>Items count</th>
                    <th>Total Likes</th>
                    <th>Total Comments</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @for (var i = 0; i < 10; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>
                            <a asp-controller="Collection" asp-action="GetCollection" asp-route-userName="@Model.User.UserName" asp-route-collectionName="MyColleciton" asp-route-itemName="hello">Hello</a>
                        </td>
                        <td>Book</td>
                        <td>
                            <a asp-controller="Collection" asp-action="GetCollection" asp-route-userName="@Model.User.UserName" asp-route-collectionName="MyColleciton">My ideas</a>
                        </td>
                        <td>
                            <a asp-controller="Account" asp-action="Profile" asp-route-userName="@Model.User.UserName">bobur_jr</a>
                        </td>
                        <td>@DateTime.Now.ToLongDateString()</td>
                        <td>15</td>
                        <td>154</td>
                        <td>30</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer text-body-secondary">
        <div class="d-flex justify-content-center">
            <button type="button" class="border bg-transparent rounded-start">Prev</button>
            <span class="border px-3">1</span>
            <button type="button" class="border bg-transparent rounded-end">Next</button>
        </div>
    </div>
</div>

<div class="modal fade" id="createItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark myForm">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create collection</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-3">
                <div>
                    <label for="name" class="mb-1">Name</label>
                    <input id="name" class="form-control bg-dark text-white userInput" />
                </div>
                <div>
                    @{
                        var a = new List<string> { "a", "bobur", "salom", "alekum" };
                    }
                    <label>Choose collection</label>
                    <select class="form-select bg-dark text-white userInput d-flex" id="collectionList">
                        <option>Select collection</option>
                        @foreach (var i in a)
                        {
                            <option class="position-relative flex-fill">
                                <p class="mx-5">@i</p>
                                <p class="position-absolute" style="right:0px">
                                    ( owner: 
                                    <a asp-controller="Account" asp-action="Profile" asp-route-userName="bobur_jr">bobur_jr</a>
                                    )
                                </p>
                            </option>
                        }
                    </select>
                    
                </div>
                <div>
                    <label for="img" class="mb-1">Created date</label>
                    <input type="date" class="form-control bg-dark text-white userInput" />
                </div>
                <div>
                    <label for="img" class="mb-1">Img</label>
                    <input type="file" class="form-control bg-dark text-white userInput" />
                </div>
                <div class="d-flex flex-column">
                    <label for="editor">Description</label>
                    <div id="editor"></div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

<script>
    var quill = new Quill('#editor', {
        theme: 'snow',
    });
</script>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>

    var a = `@User.Identity.IsAuthenticated`;

    var change = () => {
        return 1;
    }

    document.getElementById('create').addEventListener("click", () => {
        console.log("create button is working")
        if (a != 'True') {
            console.log("if is working")
            $("#warning").modal('show')
        } else {
            $("#createItem").modal('show')
        }
    })
</script>
